<form action="" method="POST" enctype="multipart/form-data">
  <label for="picture-input">Picture</label>
  <input id="picture-input" name="picture" type="file" />

  <label for="content-input">Content</label>
  <textarea name="content" id="content-input" placeholder="Content"></textarea>
  
  <button>Submit</button>
</form>
